
*{
    margin: 0;
    padding: 0;

}
.ctn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    /* margin-top: -50px; */
    padding:  1rem;
    box-sizing: border-box; 
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 8px 32px 0 rgba(13, 16, 49, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba(10, 3, 3, 0.424);
    
}

.location{

    font-size: 25px;
    font-weight: 400;
    color:rgb(15, 6, 44);
    margin-bottom: 10px;
}

.location img{
    width: 40px;
    margin: 10px;
}

.ctn button:nth-child(2){
    float: right;
    background: transparent;
    border: none;

}
.ctn img:nth-child(1){
    margin-right: 20px;
    left: 0;
}

.today{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
}


.today img{
    height: 80px;
}

.temp{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 700;
}

.range{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 15px;
   
}

.upcoming{
    text-align: center;
    padding-top: 10px;
}
.upitem{
    background: transparent  !important;
    font-size: 20px;
    font-weight: 400;
    color: rgb(9, 24, 65);
    line-height:20px ;
}

.upitem span{
    float: left;
}
.upitem img{
    width: 40px;
    float: right;
}